@{
    ViewBag.Title = "SendZalo";
    Layout = "~/Views/Shared/_Layout-Home.cshtml";
}

<div class="checkout-area pt-100 pb-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="background-color:darkcyan">
                <form id="formInfo">

                    <div class="billing" style="background-color:lightblue">
                        <h3>ĐẶT LỊCH KHÁM</h3>
                        <div class="row">
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Nhân viên đặt lịch</label>
                                    <input id="staff_name" type="text" class="form-control" required maxlength="30" minlength="2">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Họ Và Tên Người Khám</label>
                                    <input id="customer_name" type="text" class="form-control" required maxlength="30" minlength="5">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Năm Sinh*</label>
                                    <input id="number" type="text" class="form-control" required minlength="4" maxlength="20">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Ngày đặt lịch khám</label>
                                    <input placeholder="định dạng 08:30 21/10/2023" id="schedule_time" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Số điện thoại *</label>
                                    <input id="phone_number" type="text" class="form-control" value="" required minlength="9">
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="form-group">
                                    <label>Mã khách hàng</label>
                                    <input required id="customer_code" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="col-lg-10">
                                <div class="form-group">
                                    <label>Chi tiết dịch vụ khám</label>
                                    <textarea id="product_name" rows="2" class="form-control" maxlength="100"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Mã Code</label>
                                    <textarea id="code" rows="4" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    @*<label style="color:crimson">Số điện thoại gửi Zalo</label>*@
                                    <input value="" placeholder="Số điện thoại gửi Zalo (thay 0 = 84)" id="phone_sendzalo" type="text" class="form-control" required minlength="9">
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <button type='button' id="SendAPIZalo" class="common-btn">
                                    <span class="one"></span>
                                    <span class="two"></span>
                                    Gửi Zalo đặt lịch khám
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<div class="checkout-area pb-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="background-color:darkcyan">
                <form id="formInfo">
                    <div class="billing">
                        <h3>TRA CỨU THÔNG TIN ĐẶT LỊCH THEO NGÀY</h3>

                        <div class="col-lg-8">
                            <input type='text' id="ngaytracuu" class='flatpickr' data-date-format="d/m/Y" placeholder="CHỌN NGÀY TRA CỨU">
                            
                            <button type='button' id="tracuulichsudatlich" class="common-btn">
                                <span class="one"></span>
                                <span class="two"></span>
                                TÌM KIẾM
                            </button>
                        </div>

                        <table id="tracuudatlichkham" class="display" cellspacing="0" width="100%">
                            <thead>
                                <tr>

                                    <th>Thời gian</th>
                                    <th>Khách hàng</th>
                                    <th>NS</th>
                                    <th>Chi tiết khám</th>
                                    <th>NV</th>
                                    <th>Ngày đặt</th>
                                </tr>
                            </thead>

                        </table>

                    </div>
                </form>
            </div>

        </div>
       
    </div>
</div>



<div class="checkout-area pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="background-color:darkcyan">
                <form id="formInfo2">

                    <div class="billing" style="background-color: lightsteelblue">
                        <h3>ĐÁNH GIÁ DỊCH VỤ</h3>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label style="color:crimson">Họ Và Tên Người Khám</label>
                                    <input placeholder="Tên khách hàng" id="customer_name_2" type="text" class="form-control" required minlength="5">
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label style="color:crimson">Họ Và Tên Người Khám</label>
                                    <input placeholder="Mã khách hàng" id="customer_code_2" type="text" class="form-control" required minlength="5">
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Ngày khám</label>
                                    <input placeholder="Ngày khám(định dạng 00/00/0000)" id="schedule_time_2" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Mã Code</label>
                                    <textarea id="code_2" rows="4" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                  
                                    <input value="" placeholder="Số điện thoại gửi Zalo (thay 0=84)" id="phone_sendzalo_2" type="text" class="form-control" required minlength="9">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <button type='button' id="SendAPIZalo_2" class="common-btn">
                                    <span class="one"></span>
                                    <span class="two"></span>
                                    Gửi Zalo đánh giá dịch vụ
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>




@*<div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>*@