<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visithttphttp://localhost:8010/Content/Banner/Banner_mobile.png://localhost:8010/Content/Banner/Banner_mobile.png
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="EntitiesDataConnection" connectionString="data source=localhost\SQLEXPRESS2014;initial catalog=pkdkdinhtrongson;user id=pkdkdinhtrongson_admin;password=kid@1412;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="EntitiesData" connectionString="metadata=res://*/Models.EntityModel.EntitiesData.csdl|res://*/Models.EntityModel.EntitiesData.ssdl|res://*/Models.EntityModel.EntitiesData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS2014;initial catalog=pkdkdinhtrongson;user id=pkdkdinhtrongson_admin;password=kid@1412;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" tempDirectory="E:\Inetpub\vhosts\phongkhamdinhtrongson.vn\tmp">
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="81920" />
    <authentication mode="Forms">
      <forms loginUrl="~/admin/Account/LogOn" timeout="2880" />
    </authentication>
    <membership defaultProvider="SimpleMembershipProvider">
      <providers>
        <clear />
        <add name="SimpleMembershipProvider" type="WebMatrix.WebData.SimpleMembershipProvider, WebMatrix.WebData" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="SimpleRoleProvider">
      <providers>
        <clear />
        <add name="SimpleRoleProvider" type="WebMatrix.WebData.SimpleRoleProvider, WebMatrix.WebData" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="*" path="routes.axd" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" />
    </httpHandlers>
    <globalization culture="en-US" />
    <identity impersonate="false" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <!-- <add name="AttributeRouting" path="routes.axd" verb="*" type="AttributeRouting.Web.Logging.LogRoutesHandler, AttributeRouting.Web" /> -->
    </handlers>
    <modules runAllManagedModulesForAllRequests="true" />
    <httpErrors>
      <remove statusCode="502" subStatusCode="-1" />
      <remove statusCode="501" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="412" subStatusCode="-1" />
      <remove statusCode="406" subStatusCode="-1" />
      <remove statusCode="405" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="401" subStatusCode="-1" />
      <remove statusCode="400" />
      <error statusCode="400" path="E:\Inetpub\vhosts\phongkhamdinhtrongson.vn\error_docs\bad_request.html" />
      <remove statusCode="407" />
      <error statusCode="407" path="E:\Inetpub\vhosts\phongkhamdinhtrongson.vn\error_docs\proxy_authentication_required.html" />
      <remove statusCode="414" />
      <error statusCode="414" path="E:\Inetpub\vhosts\phongkhamdinhtrongson.vn\error_docs\request-uri_too_long.html" />
      <remove statusCode="415" />
      <error statusCode="415" path="E:\Inetpub\vhosts\phongkhamdinhtrongson.vn\error_docs\unsupported_media_type.html" />
      <remove statusCode="503" />
      <error statusCode="503" path="E:\Inetpub\vhosts\phongkhamdinhtrongson.vn\error_docs\maintenance.html" />
      <error statusCode="401" prefixLanguageFilePath="" path="E:\Inetpub\vhosts\phongkhamdinhtrongson.vn\error_docs\unauthorized.html" />
      <error statusCode="403" prefixLanguageFilePath="" path="E:\Inetpub\vhosts\phongkhamdinhtrongson.vn\error_docs\forbidden.html" />
      <error statusCode="404" prefixLanguageFilePath="" path="E:\Inetpub\vhosts\phongkhamdinhtrongson.vn\error_docs\not_found.html" />
      <error statusCode="405" prefixLanguageFilePath="" path="E:\Inetpub\vhosts\phongkhamdinhtrongson.vn\error_docs\method_not_allowed.html" />
      <error statusCode="406" prefixLanguageFilePath="" path="E:\Inetpub\vhosts\phongkhamdinhtrongson.vn\error_docs\not_acceptable.html" />
      <error statusCode="412" prefixLanguageFilePath="" path="E:\Inetpub\vhosts\phongkhamdinhtrongson.vn\error_docs\precondition_failed.html" />
      <error statusCode="500" prefixLanguageFilePath="" path="E:\Inetpub\vhosts\phongkhamdinhtrongson.vn\error_docs\internal_server_error.html" />
      <error statusCode="501" prefixLanguageFilePath="" path="E:\Inetpub\vhosts\phongkhamdinhtrongson.vn\error_docs\not_implemented.html" />
      <error statusCode="502" prefixLanguageFilePath="" path="E:\Inetpub\vhosts\phongkhamdinhtrongson.vn\error_docs\bad_gateway.html" />
    </httpErrors>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="">
        <network defaultCredentials="false" host="smtp.gmail.com" password="123#321A" port="587" userName="truonglaibinhdinh" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>