<div class="container-fluid view-box min-margin">
    <div class="container">
        <div class="box-body" style="background: transparent;margin: 0px;padding: 30px 0px;">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 news">
                    @Html.Action("News", "Home")
                </div>
                <div class="col-md-9 col-sm-6 col-xs-12">
                    @Html.Action("Map", "Home")
                </div>
            </div>
        </div>
    </div>
</div>
