@using TLBD.Areas.admin.Models.ThongTin;
@model ThongTin_Model

<a href="@Model.MAP_LINK" target="_blank">
    <img src="@Url.Content("~/Content/Map/" + Model.MAP_IMG)" 
         alt="" 
         style="height:240px; object-fit:cover; object-position:center;width:100%;border-color:white; border-style:solid;border-width:2px">
</a>