@model IEnumerable<SelectListItem>
@{
    ViewBag.Title = "Quản trị chuyên mục";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/Admin_Style.css" rel="stylesheet" />
<script>
    function onDataBound(e) {
        var grid = $("#grid").data("kendoGrid");
        var data = grid.dataSource.data();
        $.each(data, function (i, row) {
            if (row.TRANG_THAIs == 1) {
                $('tr[data-uid="' + row.uid + '"] ').css("background-color", "#ffd800");
            }
            else if (row.TRANG_THAIs == 2) {
                $('tr[data-uid="' + row.uid + '"] ').css("background-color", "red");
            }
        });
    }

    $(function () {
        $(".remove_link").live("click", function (e) {
            if (!confirm("Bạn có muốn xóa thông tin này không!")) {
                e.preventDefault();
            }
        });
    });


</script>
@using Kendo.Mvc.UI;
@using (Html.BeginForm("LayDuLieu", "Admin_ChuyenMuc", FormMethod.Post, new { id = "form" }))
{
    @(
    Html.Kendo().Grid<TLBD.Areas.admin.Models.ChuyenMuc.ChuyenMuc_Model>()
            .Name("grid")
            .Columns(
            c =>
            {
                c.Bound(m => m.ID).Title("ID").Width(30);
                c.Bound(m => m.TEN_CHUYENMUC).Title("Tên chuyên mục").Width(200);
                c.Bound(m => m.MENU_TREN).Title("Hiển thị menu").Width(50);
                //c.Bound(m => m.HIENTHI_TRAI).Title("Hiện thị trái").Width(50);
                c.Bound(m => m.HIENTHI_TRANGCHU).Title("Hiển thị trang chủ").Width(50);
                c.Template(m => { }).Width(10).Title("")
                    .ClientTemplate("<a id = 'button_chinhsua' class='k-button k-button-icontext k-grid-Edit' content_dlg href='" + Url.Action("Edit", "Admin_ChuyenMuc", new { area = "admin" }) + "/#= ID #'>Chỉnh sửa</a>");
                c.Template(m => { }).Width(10).Title("")
                    .ClientTemplate("<a id = 'button_xoa' class='k-button k-button-icontext k-grid-Edit remove_link' href='" + Url.Action("Delete", "Admin_ChuyenMuc") + "/#= ID #'>Xóa</a>");

            })
    .ToolBar(tb =>
    {
        tb.Custom().Text("Thêm").Url(Url.Action("Add", "Admin_ChuyenMuc", new { area = "admin" })).HtmlAttributes(new { @class = "button_them" });
    })
    .Pageable()
    .DataSource(ds => ds
        .Ajax()
        .Model(m =>
        {
            m.Id(n => n.ID);
        })
        .PageSize(20)
        .Read(r => r.Action("Read", "Admin_ChuyenMuc"))

    )
    .Events(e => e.DataBound("onDataBound"))
    )
}